[Unit]
Description=SonarQube service
After=network.target

[Service]
Type=forking
User=sonar
Group=sonar
WorkingDirectory=/opt/sonarqube
ExecStart=/opt/sonarqube-10.3.0.82913/bin/linux/sonar.sh start
ExecStop=/opt/sonarqube-10.3.0.82913/bin/linux/sonar.sh stop
PIDFile=/optsonarqube-10.3.0.82913/temp/sonarqube.pid
LimitNOFILE=131072
TimeoutSec=300

[Install]
WantedBy=multi-user.target
